*{
    margin: 0;
    padding:0;
    /* border: 1px red solid */
}
body{
    background-color: #f9da06;
}
.logo{
    display: flex;
    justify-content: center;
    
}
img{
    width: 25vw;
    
}
h1{
    color:#ed1b24;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    margin:5px;
    text-align: center;
}
p{
    text-align: center;
    margin:10px;
    font-size: larger;
}
.link-conversor{
    text-decoration: none;
    background-color: #00adf1;
    border-radius: 5px;
    padding: 5px;
    width: 19vw;
    text-align: center;
    color:#ed1b24;
    font-weight: bold;
    font-size:1.5rem
}
.link-conversor:hover{
    background-color: #6cb1cc;
}
.link-container{
    display: flex;
    justify-content: center;
    margin:20px;
}
.contenedor-preguntas{
    background-color: #00adf1;
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin:5px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px){
.link-conversor{
    width: 30vw;
    font-size: 1.3rem;
}
}

/* Estilo del simulador de conversion */

.conversor-container{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    
    padding:20px;
}

.conversor-container label{
    text-align: center;
    color: #ed1b24;
    font-size: 1.5rem;
    font-weight: bold;
}

.conversor{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-convertir{
    background-color: #6cb1cc;
    padding: .5rem;
    
}

.btn-convertir{
    border:none;
    padding:.5rem;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #6cb1cc;
    cursor:pointer
}

.fichas-container p{
    font-size: 1.5rem;
    color: #ed1b24;
    font-weight: bold;
}

.historial{
    background-color: #fff6b9;
    border-radius: 20px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historial h2{
    text-align: center;
    text-decoration: underline;
}

.total-historial{
    margin-top:20px;
    font-family:monospace;
    font-weight: bold;
}
.borrar-historial{
    border: none;
    cursor: pointer;
    padding:.5rem;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #00adf1;
}

.borrar-historial:hover{
    background-color: #6cb1cc;
}